<div class="left">
  <div class="nom" title="Nom Prénom">
    <span>
        <b id="initi">NP</b>
      <b id="initnp">NOM</b> Prénom
    </span>
  </div>
  <div class="item" routerLink="/profil" title="Mon profil">
    <img src="assets/icons/logo-personne.png"> Mon profil 
  </div>
  <div class="item" routerLink="/administration" title="Administration du site">
    <img src="assets\icons\logo-administration.png"> Administration
  </div>
  <div class="item" onClick="onDeconnect()" title="Déconnexion">
    <img src="assets\icons\logo-deconnexion.png"> Déconnexion
  </div>
  <div class="item" id="column">
  </div>
</div>

