<footer class="fixed-bottom" title="Pied de page de l'application GestiCert version 0.2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-9">
        <ul id="linkul">
          <li class="linkli"><a title="Contact du site" routerLink="/contact">Contact</a></li>
          <li class="linkli"><a title="A propos du site" routerLink="/a-propos">A propos</a></li>
          <li><a title="Accessibilité du site" routerLink="/accessibilite">Accessibilité</a></li>
        </ul>
      </div>
      <a class="col-sm-2 col-3"><span id="appli"><b>GestiCert</b><br><i>version 0.2</i></span></a>
    </div>
  </div>
</footer>
