<header type="button" routerLink="/accueil" title="Retour à l'accueil">
  <div class="header">
    <img class="logo-gest" src="assets/icons/logo-gesticert.png" alt="Logo GestiCert">
    <b>GestiCert</b>
    <small>Gestion des certificats SSL</small>
    <img src="">
    <img class="img-fluid logo-post" id="post1" src="assets/icons/logo-poste.png" alt="Logo La Poste">
    <img class="img-fluid logo-post" id="post2" src="assets/icons/logo-poste-petit.png" alt="Logo La Poste">
  </div>
</header>


<div class="burger">
  <span></span>
</div>